body {
  margin: 20px 10px;
  font-family: "Roboto Slab", serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: khaki;
   text-wrap: balance;
  text-align: center; 
  
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #00539cff;
  height: 60px;
  margin: 20px 10px;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #00539cff;
  padding: 20px;
}

h6 {
  margin: 22px 8px;
  letter-spacing: 2px;
}

.navbar {
  margin: -10px;
}

.navbar ul {
  list-style: none;
  background-color: rgb(110, 150, 185);
  padding: 0;
  margin: 10px 10px;
  width: 100%;
}

.navbar a {
  color: #ffd662ff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: wheat;
  color: black;
}

p {
  font-size: 32px;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
}

.surp {
  text-decoration: none;
  font-weight: bold;
  color: #00539cff;
}

.surp:hover {
  color: #f08c46;
}

.photo img {
  width: 600px;
  height: 500px;
  margin: 10px 120px 10px 80px;
  border-radius: 20px;
}

.photo img:hover {
  opacity: 50%;
}

/* Footer section. */

.footer {
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  background-color: lightskyblue;
}

.footer .section-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.footer .col {
  font-size: 32px;
  margin: 10px 32px;
  width: 25%;
}

.footer .col ul {
  font-size: 30px;
  display: inline-block;
  justify-content: space-between;
  list-style-type: none;
  margin: 20px 0;
}

.footer .col ul li a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  letter-spacing: 2px;
  padding: 8px;
}

.footer .col ul li a:hover {
  text-decoration: underline;
  color: tomato;
}

.footer .social-media {
  display: flex;
  align-items: center;
  margin: 12px 0;

}

.footer .social-media img {
  width: 80px;
  height: 80px;
  margin: 12px 8px;
}

.number {
  font-size: 32px;
  font-weight: bold;
  color: darkgreen;
}

.phone-icon img {
  width: 30px;
  display: inline;
}

.chat img {
  display: inline;
  width: 40px;
  border-radius: 50%;
  margin-top: 12px;
}

.chat img a {
  text-decoration: none;

}

col .contact {
  margin: 20px;
  padding: 12px;

}
