* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: pink;
  font-family: "Baskerville Sc", serif;
  overflow-x: hidden;
  text-wrap: balance;
  text-align: center;
  
}


h1 {
  font-size: 42px;
  font-weight: bold;
  margin: 20px 30px;
}

h1 a {
  text-decoration: none;
  color: rgb(89, 4, 89);
  margin: 20px;
}

h2 {
  font-size: 32px;
  margin: 10px 50px 10px 40px;
}

h3 {
  font-size: 22px;
  letter-spacing: 4px;
  color: slateblue;
  text-align: center;
}

h4 {
  margin: 22px 8px;
  letter-spacing: 2px;
}

.design {
  opacity: 50%;
}

 /* .photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
  grid-gap: 64px;
  margin: 5px 25px 0 25px;
}  */

.photo-grid {
    max-width: 100%;
    height: 50%;
    margin: 20px;
    display: grid;
    grid-template-areas: 
    "colA colB"
    "colC colD"
    "colE colF"
    "colG colH" 
    "colI colH";
    
    grid-gap: 8px;
    
    }
    
    #colA {
        grid-area: colA;
    }
    
    #colB {
        grid-area: colB;
    }
    
    #colC {
        grid-area: colC;
    }
    
    #colD {
        grid-area: colD;
    }
    
    #colE {
        grid-area: colE;
    }
    
    #colF {
        grid-area: colF;
    }
    
    #colG {
        grid-area: colG;
    }
    
    #colH {
        grid-area: colH;
    }
    
    #colI {
        grid-area: colI;
    }  

.photo-grid img {
  width: 400px;
  height: 400px;
  cursor: pointer;
  border-radius: 50px;
  transition: transform 0.2s ease;
 margin: 20px 40px;

}

.photo-grid img:hover {
  opacity: 50%;
  transform: scale(0.9);
}

/* FOOTER */

.footer {
  margin: 5px -5px;
  display: flex;
  justify-content: center;
  background-color: #ffc000;
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.footer .section-container {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}


.footer .col {
  font-size: 18px;
  margin: 20px 5px 0px 40px;
  width: 25%;
}

.footer .col ul {
  font-size: 22px;
  display: inline-block;
  justify-content: space-between;
  list-style-type: none;
}

.footer .col ul li a {
  font-size: 22px;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
}

.footer .col ul li a:hover {
  text-decoration: underline;
  color: tomato;
}

.footer .social-media {
  display: flex;
  align-items: center;
  margin: 24px 0 24px 40px;
}

.footer .social-media img {
  width: 80px;
  height: 80px;
  /* border-radius: 50%; */
}

.number {
  font-size: 22px;
  font-weight: bold;
  color: darkgreen;
  margin: 20px 10px;
}

.phone-icon img {
  width: 30px;
  display: inline;
}

.chat img {
  display: inline;
  width: 40px;
  border-radius: 50%;
  margin-top: 12px;
}

@media only screen and (max-width: 780px) {
      
  
  body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: khaki;

  }



  .photo-grid {
    display: block;
    margin: 4px 0 4px 0;
  }

  .photo-grid img {
    width: 260px;
    height: 260px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease;
   margin: 10px 20px;
  }

  h2 {
    font-size: 22px;
    margin: 10px -10px 10px 10px;
  }

  h3 {
    font-size: 22px;
    letter-spacing: 4px;
    color: teal;
    text-align: center;
  }

  .footer {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    background-color: coral;
  }

  
.footer .col {
  font-size: 22px;
  margin: 20px -5px 0px -2px;
  width: 50%;
 
}


.footer .social-media img {
  width: 40px;
  height: 40px;
  margin-right: 45px;
}

.number {
  font-size: 16px;
}

.footer .col .chat a {
  color: black;
  font-size: 16px;
  margin-right: 5px;

}

  .hide {
    display: none;
  }


}
