* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: lightgray;

}

.navbar ul {
  list-style: none;
  background-color: #ffd662ff;
  padding: 0;
  margin: 0 0 20px 0;
  display: flex;
  height: 300px;
}

.navbar li {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  margin-top: 20px;
}

.navbar a {
  text-decoration: none;
  color: #339e66ff;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: darkgray;
}

.navbar li ul.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: orange;
  position: absolute;
  z-index: 999;
  display: none;
  visibility: visible;
  opacity: 0;
}

.navbar li ul.dropdown:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: #339e66ff;
}
a:hover {
  color: white;
}

.navbar ul li ul.dropdown {
  display: block;
  height: 0px;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: darkcyan;
}

p {
  font-size: 40px;
  font-style: italic;
  margin: 20px;
  color: black;
}

h2 {
  font-size: 22px;
  color: #339e66ff;
  padding: 10px 0 10px 0;
}

/* .photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  justify-content: center;
  grid-gap: 64px;
  margin: 20px 80px 0 12px;
} */

.photo-grid {
  width: 100%;
  height: 100%;
  margin: 40px;
  display: grid;
  grid-template-areas:
    "colA colB colC"
    "colD colE colF"
    "colG colH colI";

  grid-gap: 6px;
}

#colA {
  grid-area: colA;
}

#colB {
  grid-area: colB;
}

#colC {
  grid-area: colC;
}

#colD {
  grid-area: colD;
}

#colE {
  grid-area: colE;
}

#colF {
  grid-area: colF;
}

#colG {
  grid-area: colG;
}

#colH {
  grid-area: colH;
}

#colI {
  grid-area: colI;
}

.photo-grid img {
  width: 400px;
  height: 400px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 20px;
}

.photo-grid img:hover {
  opacity: 50%;
}

/* FOOTER */

.footer {
  width: 100%;
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  background-color: lightskyblue;
}

.footer .section-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#footer-logo {
  max-width: 240px;
  max-height: 240px;
  margin: 0 0 12px 0;
  /* border-radius: 50%; */
}

.footer .col {
  font-size: 32px;
  margin: 10px 32px;
  width: 25%;
}

.footer .col ul {
  font-size: 30px;
  display: inline-block;
  justify-content: space-between;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.footer .col ul li a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  letter-spacing: 2px;
  padding: 8px;
  color: blue;
}

.footer .col ul li a:hover {
  text-decoration: underline;
  color: tomato;
}

.footer .social-media {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.footer .social-media img {
  width: 80px;
  height: 80px;
  margin: 20px 5px;
  /* border-radius: 50%; */
}

.number {
  font-size: 32px;
  font-weight: bold;
  color: darkgreen;
  margin: 20px 10px;
}

.phone-icon img {
  width: 30px;
  display: inline;
}

.chat img {
  display: inline;
  width: 30px;
  border-radius: 50%;
  margin-top: 12px;
}

.footer .col .chat a {
  color: black;
}

@media only screen and (max-width: 780px) {
  body {
    background-color: #e69a8dff;
    width: 100%;
    height: auto;
    overflow-x: hidden;
  }

  .navbar ul {
    background-color: #5f4b8bff;
    width: 100%;
    border: 20px solid rgba(255, 255, 255, 0.32);
  }

  .navbar .hide {
    display: none;
  }

  .navbar a {
    text-decoration: none;
    color: yellow;
    font-size: 15px;
    font-weight: bold;
    padding: 4px;
    display: block;
    text-align: center;
  }

  .navbar a:hover {
    background-color: rgba(128, 124, 124, 0.16);
  }

  a {
    text-decoration: none;
    /* color: rgb(88, 210, 147); */
  }
  a:hover {
    color: white;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #2C5F2D;
  }

  /* GRID */
  .photo-grid {
    width: 100%;
    height: 100%;
    margin: 100px;
    display: grid;
    grid-template-areas:
      "colA"
      "colB"
      "colC"
      "colD"
      "colE"
      "colF"
      "colG"
      "colH"
      "colI";

    grid-gap: 2px;
  }

  #colA {
    grid-area: colA;
  }

  #colB {
    grid-area: colB;
  }

  #colC {
    grid-area: colC;
  }

  #colD {
    grid-area: colD;
  }

  #colE {
    grid-area: colE;
  }

  #colF {
    grid-area: colF;
  }

  #colG {
    grid-area: colG;
  }

  #colH {
    grid-area: colH;
  }

  #colI {
    grid-area: colI;
  }

  .photo-grid img {
    width: 230px;
    height: 230px;
    cursor: pointer;
    border-radius: 20px;
    margin: 0 0px 0 -50px;
  }

  .photo-grid img:hover {
    opacity: 50%;
  }

  .hide {
    display: none;
  }

  .footer .col {
    font-size: 22px;
    margin: 10px 32px;
    width: 25%;
  }

  .add {
    color: rgb(15, 134, 100);
  }

  .number {
    font-size: 18px;
    font-weight: bold;
    color: rgb(15, 134, 100);
    margin: 20px 10px;
  }

  .footer .col .chat a {
    display: block;
    font-size: 20px;
    color: black;
    margin-right: 5px;
    padding: 10px 0 0 2px;
  }
}
