/* TEXT VARIABLES */
:root {
  --text-dark: black;
  --text-light: white;
  --text-grey: grey;
  --body-font: "Edu VIC WA NT Beginner", cursive;
  --heading-font: "Quicksand", sans-serif;
  --h1-size: 82px;
  --h2--size: 64px;
  --h3-size: 44px;
  --h4-size: 32px;
  --h5-size: 28px;
  --h6-size: 22px;

  /* COLOR VARIABLES */
  --green-1: #339e66ff;
  --Steel-blue: #4993b3;
  --purple-1: #70348a;
  --purple-2: #3b0b4f;
  --aspen-1: #ffd662ff;
  --aspen-2: #00539cff;
  --salt-1: #fad0c9ff;
  --grey-2: #6e6e6dff;

  /* SPACING VARIABLES */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --standard-width: 128px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--heading-font);
  color: var(--grey-2);
  max-width: 100%;
  background-color: lightblue;
  overflow-x: hidden;
  margin: 0;
}

h1 {
  font-family: var(--heading-font);
  font-size: var(--h1-size);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-xl);
  color: var(--aspen-2);
  text-decoration: none;
}

h2 {
  font-family: var(--heading-font);
  font-size: var(--h2--size);
  color: var(--aspen-2);
  text-align: center;
  margin-top: 12px;
}

h3 {
  color: #100217;
}

p {
  font-family: var(--body-font);
  font-size: 40px;
  padding: 25px;
}

h6 {
  margin: 26px 0 8px 0;
  color: darkgreen;
  letter-spacing: 2px;
}

.navbar {
  min-width: 100%;
   border: 20px solid white;
  background-color: #FFC000;
  margin: 0px;
  


}

.two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}

.left {
  width: 60%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

.left img {
  width: 200px;
  height: 200px;
  margin: 10px -10px 10px 20px;
  border-radius: 50%;
  transition: transform 2s ease-in-out;
  animation-name: spin;
  animation-duration: 3s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.left img:hover {
  cursor: pointer;
  transform: scale(0.5);
}

.menu {
  height: 50%;
  color: #078282ff;
  display: inline;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu a {
  text-decoration: none;
  font-size: var(--h5-size);
  margin: 20px;
  height: 100%;
  color: var(--aspen-2);
}

.menu a:hover {
  color: var(--aspen-1);
}

.right {
  width: 40%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0px 10px 10px;
}

.right li {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.right a {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--aspen-2);
  margin-right: 50px;
}

.right a:hover {
  color: var(--aspen-1);
}

.icon {
  width: 30px;
  height: 30px;
}

.icons {
  width: 30px;
  height: 30px;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  width: 160px;
  height: 80px;
  color: black;
  background-color: var(--aspen-1);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0, 1);
  margin-right: 60px;
}

.btn:hover {
  background-color: var(--aspen-2);
  cursor: pointer;
  color: white;
}

/* GRID-SECTION */


/* .photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  justify-content: center;
  grid-gap: 64px;
  margin: 20px 80px 0 12px;
}  */

.photo-grid {
  display: grid;
  grid-template-areas:
    "drop1 drop1 drop2"
    "drop4 drop5 drop3"
    "drop6 drop7 drop8";
  grid-gap: 12px;
  width: 100%;
  max-width: 90%;
  margin: auto;
}

#drop1 {
  grid-area: drop1;
}

#drop2 {
  grid-area: drop2;
}

#drop3 {
  grid-area: drop3;
}

#drop4 {
  grid-area: drop4;
}

#drop5 {
  grid-area: drop5;
}

#drop6 {
  grid-area: drop6;
}

#drop7 {
  grid-area: drop7;
}

#drop8 {
  grid-area: drop8;
}

.photo {
  position: relative;
}

.photo img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 160px;
  margin: 20px 20px;
}


.photo .overlay {
  /* background-color: var(--green-1); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 40px;
  font-weight: bolder;
  color: var(--Myrtle-green-1);
  font-style: italic;
  letter-spacing: 2px;
  opacity: 1;
  transition: all 0.2s ease-in;
}

.photo .overlay:hover {
  opacity: 0;
  cursor: pointer;
}

/* ABOUT US SECTION */

.store {
  position: relative;
}

.store img {
  width: 600px;
  height: 600px
}



#about-section {
  position: relative;
  display: flex;
}

.about {
  width: 100px;
  height: 40px;
  background-color: var(--Steel-blue);
  border-radius: 12px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0, 1);
}

.about:hover {
  background-color: var(--aspen-1);
}

.about a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.about a:hover {
  color: black;
}

.store img {
  margin: 30px 120px 0 20px;
  border-radius: 80px;
  /* float: left; */
  padding: 12px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.low-price img {
  width: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 400px;
  left: 480px;
  opacity: 1;
}

.low-price img:hover {
  opacity: 0;
}

.delivery img {
  width: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -20px;
  right: 100px;
  opacity: 1;
}

.delivery img:hover {
  opacity: 0;
}

.surp {
  text-decoration: none;
  font-weight: bold;
  color: var(--Steel-blue);
}

.surp:hover {
  color: #f08c46;
}

/* IMAGE SLIDER FOR POD */

.container {
  padding: 2rem;
  position: relative;
  max-width: 72rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 6 / 5;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0, 0, 0.25);
  border-radius: 3rem;
}

.slider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 40px;
  font-weight: bolder;
  color: var(--Myrtle-green-1);
  font-style: italic;
  letter-spacing: 2px;
  opacity: 1;
  transition: all 0.2s ease-in;

}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--grey-2);
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

/* Footer section. */

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #FFC000;
  border: 20px solid white;
}

.footer .section-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#footer-logo {
  max-width: 240px;
  max-height: 240px;
  margin: 0 0 12px 0;
  /* border-radius: 50%; */
}



.footer .col {
font-size: 32px;
margin: 10px 32px;
  width: 25%;
}

.footer .col ul {
  font-size: 30px;
  display: inline-block;
  justify-content: space-between;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  
}

.footer .col ul li a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  letter-spacing: 2px;
  padding: 8px;
}

.footer .col ul li a:hover {
  text-decoration: underline;
   color: tomato;
}

.footer .social-media {
  display: flex;
  align-items: center;
}

.footer .social-media img {
  width: 80px;
  height: 80px;
  margin: 12px 8px;
  /* border-radius: 50%; */
}



.number {
  font-size: 22px;
  font-weight: bold;
  color: darkgreen;
  margin: 20px 10px;
}

.phone-icon img {
  width: 30px;
  display: inline;
  
  
}

.chat img {
  display: inline;
  width: 40px;
  border-radius: 50%;
  margin-top: 12px;
}