* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: rgb(128, 180, 168);
}

h2 {
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
}

.email {
    font-size: 24px;
    font-weight: bold;
    margin: 120px 128px 0 0 ;

    
}

#address {
    font-size: 24px;
    margin: 20px 0 8px 0;
    width: 520px;
    height: 60px;
    border-radius: 12px;
    
}

.order {
    font-size: 24px;
    font-weight: bold;
    margin: 22px 128px 0 0 ;
    

}

#order-number {
    font-size: 24px;
    margin: 20px 0 8px 0;
    width: 520px;
    height: 60px;
    border-radius: 12px;
}

.button {
    width: 240px;
    height: 80px;
    font-size: 32px;
    font-weight: bold;
    margin: 42px 120px 0 0 ;
    padding: 10px;
    border: 2px solid black;
    background-color: tomato;
    border-radius: 8px;
}

.button a {
    text-decoration: none;
    color: black;
}

.home {
    font-size: 40px;
  

}
.home a {
    text-decoration: none;
    color: #D64161FF;
}

.tracking {
    font-size: 40px;
    font-style: italic;
    color: #D64161FF;
    opacity: 50%;
}













