* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: rgb(198, 229, 159);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Baskerville Sc", serif;
    overflow-x: hidden;
    
}
h1 {
    font-size: 32px;
    font-weight: bolder;
    margin: 20px 10px;
}

h1 a {
    text-decoration: none;
    color: rgb(144, 97, 144);
    margin: 20px;
}

h2 {
    font-size: 24px;
    margin: 20px;
}

h3 {
    font-size: 24px;
    color: slateblue;
    text-align: center;
}

.design {
    opacity: 50%;
}

.photo-grid {
    width: 100%;
    height: 100%;
    margin: 20px;
    display: grid;
    grid-template-areas: 
    "colA colB colC"
    "colD colE colF"
    "colG colH colI";
    
    grid-gap: 16px;
    
    }
    
    #colA {
        grid-area: colA;
    }
    
    #colB {
        grid-area: colB;
    }
    
    #colC {
        grid-area: colC;
    }
    
    #colD {
        grid-area: colD;
    }
    
    #colE {
        grid-area: colE;
    }
    
    #colF {
        grid-area: colF;
    }
    
    #colG {
        grid-area: colG;
    }
    
    #colH {
        grid-area: colH;
    }
    
    #colI {
        grid-area: colI;
    }
    


.photo-grid img {
    width: 500px;
    height: 400px;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.2s ease;

}

.photo-grid img:hover {
    opacity: 50%;
    transform: scale(0.9);

}

/* MOBILE RESPONSIVENESS */

@media only screen and (max-width: 780px) {
    body {
        max-width: 100%;
        background-color: plum;
    }

    h3 {
        font-size: 20px;
        color: forestgreen;
        text-align: center;
        padding: 10px 50px;
    }

    .photo-grid {
        width: 100%;
        height: 100%;
        margin: 100px;
        display: grid;
        grid-template-areas:
          "colA"
          "colB"
          "colC"
          "colD"
          "colE"
          "colF"
          "colG"
          "colH"
          "colI";
    
        grid-gap: 2px;
      }
    
      #colA {
        grid-area: colA;
      }
    
      #colB {
        grid-area: colB;
      }
    
      #colC {
        grid-area: colC;
      }
    
      #colD {
        grid-area: colD;
      }
    
      #colE {
        grid-area: colE;
      }
    
      #colF {
        grid-area: colF;
      }
    
      #colG {
        grid-area: colG;
      }
    
      #colH {
        grid-area: colH;
      }
    
      #colI {
        grid-area: colI;
      }
    
      .photo-grid img {
        width: 250px;
        height: 250px;
        cursor: pointer;
        border-radius: 20px;
        margin: 0 0px 0 -50px;
      }

      .photo-grid img:hover {
        opacity: 50%;
      }
    
}